<h1>First application</h1>
<p>This is the home page for the first application.
  <%= link_to "ruby on rails", "http://railstutorial.org/" %>
</p>

<%= link_to "Sign up now!", '#', :class => "signup_button round" %>